extends ../../layouts/edit

block head
  title Edit a Grammar

block neck
  link(rel='stylesheet', href='/views/edit/index.min.css?#{cacheBreaker}')

block body
  div(id="editor-div" class="editorBodyClass")
      div(id="codeDiv" class="codeClass")
          div(id="codeHdr" class="divheader") Schwitr code
      div(id="cssDiv"  class="cssClass")
          div(id="cssHdr" class="divheader") CSS
      div(id="outputDiv" class="outputClass")
          div(id="outputHdr" class="divheader") Output
              input(type="submit" id="updateButton" value=" Update ")
